{% extends 'const/layout.html' %}

{% block body_block %}

  {% load markdown_deux_tags %}

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header id="candidate-header" data-userid="{{ required_user.id }}" class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <div class="profile-container">
            <img class="profile-image" src="{{ required_user.userprofile.picture.url }}" alt="Mountain View"> </img>
          </div>
          <div class="profile-name">
            <h3>
              <i class="fa fa-star"></i>

              {{required_user.username}}

            </h3>
          </div>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#overview" class="mdl-layout__tab is-active">Publicaciones</a>
          <a href="#stats" class="mdl-layout__tab">Análisis</a>
          <a href="#about" class="mdl-layout__tab">Acerca De</a>
          {% if is_self_user %}
          <button class="create-post-red mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="refresh-cand" data-userid="{{ required_user.id }}">

              <i class="mdi mdi-plus"></i>
          {% endif %}
              <!-- bell -->
            <span class="visuallyhidden">Add</span>
          </button>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          {% for post in posts %}
            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
              <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--accent mdl-color-text--white">
                <i class="fa fa-file-text-o fa-5x"></i>
              </header>
              <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-card__supporting-text">
                  <h3>{{ post.post_title }}</h3>
                </div>

                <div class="mdl-card__actions">
                  <a href="/post/{{ post.id }}" class="mdl-button">Ver más</a>
                </div>
              </div>
              {% if is_self_user %}
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn{{ forloop.counter }}">
                <i class="mdi mdi-menu"></i>
              </button>
              <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn{{ forloop.counter }}">
                <li data-postid="{{ post.id }}" class="delete-but mdl-menu__item"> <i class="fa fa-trash"></i> Eliminar</li>
              </ul>
              {% endif %}
            </section>

          {% endfor %}
          <section class="section--footer mdl-color--white mdl-grid">
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>Tweet</h5>
              <p>{{ postw[5] }}</p>
              <p>{{ postw[6] }}</p>

            </div>
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
              <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
              <h5>Lorem ipsum dolor sit amet</h5>
              Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="stats">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
              <h4>Features</h4>
                {{ graph | safe }}
            </div>
            <div class="mdl-cell mdl-cell--12-col">
              <h4>Features</h4>
                <div id="wordcloud" class="wordcloud">
                  {% for name, weight in word_cloud %}
                    <span data-weight="{{ weight }}" style="display: none;">{{ name }}</span>
                  {% endfor %}
                </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="about">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">

              {{ required_user.userprofile.about | markdown:"STYLE" }}

            </div>
          </section>
        </div>
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
              Made by Grupo 3 DDS
            </div>
            <br>
            <div>
              {% if user.userprofile.role == 'candidate' %}
              <a class="myprofile" href="/candidate/user/{{ user.id }}"> <i class="fa fa-user"></i> Mi Perfil </a>
              {% else %}
              <a class="myprofile" href="/profile/user/{{ user.id }}"> <i class="fa fa-user"></i> Mi Perfil </a>
              {% endif %}
            </div>
            <div>
              <a class="myprofile" href="/logout"> <i class="fa fa-sign-out"></i> Salir </a>
            </div>
          </div>
        </footer>
      </main>
    </div>

{% endblock %}
