{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ConstituSiente</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" type="text/css" href="{% static 'indexcss/bootstrap.min.css' %}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'indexcss/freelancer.css' %}" >

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.4.0/css/font-awesome.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">ConstituSiente</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">¿Qué?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">¿Cómo?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static 'indeximg/profile.png' %}" alt="">
                    <div class="intro-text">
                        <span class="name">ConstituSiente</span>
                        <hr class="star-light">
                        <span class="skills">Creamos transparencia en esta Asamblea Constituyente</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nosotros</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Buscamos transparentar, acercar y concretizar la información disponible de los candidatos a la Asamblea Constituyente. Para esto analizaremos tweets y noticias de los candidatos. Les crearemos perfiles y podrás ver por ti mismo.</p>
                </div>
                <div class="col-lg-4">
                    <p>¿Qué es la Asamble Constituyente?</p>
                    <p>Es una institución que se concibe especificamente para creació o modificación de la Constitución.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="green">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>¿Cómo lo hacemos?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'indeximg/portfolio/information.jpg' %}" class="img-responsive image-box" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'indeximg/portfolio/emotion.png' %}" class="img-responsive image-box" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'indeximg/portfolio/profile.jpg' %}" class="img-responsive image-box" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Buscaremos información</h2>
                            <hr class="star-primary">
                            <img src="{% static 'indeximg/portfolio/information.jpg' %}" class="img-responsive img-centered image-box" alt="">
                            <p>Con novedosa tecnología buscaremos informacón del mundo www. Nos inteeresan particularmente tweets de nuestros candidatos y toda noticia en la que hayan estado involucrados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Analizaremos los datos</h2>
                            <hr class="star-primary">
                            <img src="{% static 'indeximg/portfolio/emotion.png' %}" class="img-responsive img-centered image-box" alt="">
                            <p>Analizaremos esta gran cantidad de información y la convertiremos en datos tangibles. Por ejemplo, que emociones expresan los tweets de nuestros queridos candidatos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Creamos un perfil</h2>
                            <hr class="star-primary">
                            <img src="{% static 'indeximg/portfolio/profile.jpg' %}" class="img-responsive img-centered image-box" alt="">
                            <p>Existirá un perfil público de cada candidato donde podrás ver sus stats. Además, podrás comentar tus más osadas opiniones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{% static 'indexjs/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{% static 'indexjs/jquery.easing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'indexjs/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'indexjs/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script stype="text/javascript" src="{% static 'indexjs/jqBootstrapValidation.js' %}"></script>
    <script type="text/javascript" src="{% static 'indexjs/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="{% static 'indexjs/freelancer.js' %}"></script>

</body>

</html>
