{% extends 'const/layout.html' %}

{% block body_block %}

<!DOCTYPE html>
<html>
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3><i class="fa fa-user"></i> Registrarse</h3>
      </div>
    </header>

    <body>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col"></div>
          <div class="mdl-cell mdl-cell--4-col">

            <div class="login-card demo-card-square mdl-card mdl-shadow--2dp">
              
              <div class="mdl-textfield mdl-js-textfield">
                <input id="username-field" class="mdl-textfield__input" type="text"/>
                <label class="mdl-textfield__label" for="sample1">Username</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input id="password-field" class="mdl-textfield__input" type="password"/>
                <label class="mdl-textfield__label" for="sample1">Password</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input id="cpassword-field" class="mdl-textfield__input" type="password"/>
                <label class="mdl-textfield__label" for="sample1">Confirm Password</label>
              </div>
              <br>
              <div class="mdl-textfield mdl-js-textfield">
                <textarea id="about-field" class="mdl-textfield__input" type="text" rows= "3"></textarea>
                <label class="mdl-textfield__label" for="sample1">Acerca De</label>
              </div>
              <br>
              <div class="mdl-textfield mdl-js-textfield">
                <span class="label-register"> <i class="fa fa-file-image-o"></i></span>
                <input id="picture-field" type="file"/>
              </div>
              <br>
              <div class="mdl-card__actions mdl-card--border">
                <button id="register-button" class="mdl-button mdl-js-button mdl-button--accent">
                  Registrar
                </button>
              </div>
            </div>
            <br>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"></div>
              <div class="mdl-cell mdl-cell--4-col">
                <div id='failed-notice'> </div>
              </div>
              <div class="mdl-cell mdl-cell--4-col"></div>
            </div
          </div>
          <div class="mdl-cell mdl-cell--4-col"></div>


        </div>


    </body>
</html>

{% endblock %}
